/* Desktop Version */
@media(min-width:720px){
    
    /* About Me */
    .about-me-start{
        padding-top: 100px;
        padding-bottom: 80px;
        background: #F1F1F1;
    }
    
    .about-me-start .tittle h3, .about-me-start .tittle h5{
        color: #252627;
    }    
    
    .about-me{
        margin-top: 80px;     
        width: 100%;
    }
    
    .about-me-desc{
        width: 50%;
        font-size: 16px;
        text-align: justify;
    }
    
    .about-me-desc p{
        color: #252627;
        font-family: "Muli";
    }
        
}