/* Desktop Version */
@media(min-width:720px){
    
    /* Contact */
    .contact-start{
        padding-top: 70px;
        padding-bottom: 70px;
        background: #F1F1F1;
    }
    
    .contact-start .tittle h3, .contact-start .tittle h5, .contact-desc h4, .contact-desc p, .contact-form p, .contact-form input[type="submit"]{
        color: #252627;
        font-family: "Muli";
        
    }
    
    .contact{
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
    }
    
    .contact-desc{
        width: 40%;
    }
    
    .contact-desc-tittle h5{
        color: #525659;
        font-weight: 600;
        font-size: 18px;
        font-family: "Muli";
        margin-top: 10px;
        margin-bottom: 15%;
    }
    
    .contact-desc-tp h5{
        color: #525659;
        font-weight: 600;
        font-size: 18px;
        font-family: "Muli";
        margin-top: 10px;
    }
    
    .contact-desc-tp p{
        font-size: 16px;
        font-weight: 600;
        color: #909599;
        margin-top: 5px;
        margin-bottom: 10%;
    }    
    
    .social{
        display: flex;
        text-align: center;
        margin-top: 15%;
    }
    
    .social-a{
        text-decoration: none;
        color: #525659;
        margin-right: 10%;
        font-size: 22px;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }
    
    .contact-form{
        width: 60%;
    }
    
    .contact-form input[type="text"], .contact-form textarea{
        background: #e6e6e6;
        width: 100%;
        padding: 20px 0px 20px 20px;
        color: #909599;
/*        border-radius: 3px;*/
        border: 0.5px solid #cacaca;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "Muli";
        font-size: 16px;
        box-sizing: border-box;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    
    .contact-form input[type="text"]:focus, .contact-form textarea:focus{
        box-shadow: inset 0px 1px 5px #cacacacc;
        outline: 0;
    }
    
    .contact-form textarea{
        resize: none;
    }
    
    ::placeholder {
        color: #909599;
        font-size: 16px;
    }
    
    .contact-form input[type="submit"]{
        padding: 20px;
        width: 100%;
    }
}