/* Desktop Version */
@media(min-width:720px){
    
    /* Contact */
    .contact-start{
        padding-top: 70px;
        padding-bottom: 70px;
        background: #252627;
    }
    
    .contact-start .tittle h3, .contact-start .tittle h5, .contact-desc h4, .contact-desc p, .contact-form p, .contact-form input[type="submit"]{
        color: #F1F1F1;
        font-family: "Muli";
        
    }
    
    .contact{
        margin-top: 5%;
        margin-bottom: 5%;
        display: flex;
    }
    
    .contact-desc{
        width: 45%;
    }
    
    .contact-desc-tittle h5{
        color: #F1F1F1;
        font-weight: 600;
        font-size: 18px;
        font-family: "Muli";
        margin-top: 10px;
        margin-bottom: 15%;
        padding-left: 20px;
    }
    
    .contact-desc-tp h5{
        color: #F1F1F1;
        font-weight: 600;
        font-size: 18px;
        font-family: "Muli";
        margin-top: 10px;
        padding-left: 20px;
    }
    
    .contact-desc-tp p{
        font-size: 16px;
        font-weight: 600;
        color: #909599;
        margin-top: 5px;
        margin-bottom: 10%;
        padding-left: 20px;
    }    
    
    .social{
        display: flex;
        text-align: center;
        margin-top: 15%;
    }
    
    .social-a{
        text-decoration: none;
        color: #F1F1F1;
        font-size: 22px;
        padding: 20px;
        width: 20px;
        border-radius: 5px;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }
    
    .fa-facebook-f:hover{
        background: #4267B2;
        color: #fff;
    }
    
    .fa-linkedin-in:hover{
        background: #0077B5;
        color: #fff;
    }
    
    .fa-whatsapp:hover{
        background: #00A859;
        color: #fff;
    }
    
    .fa-github:hover{
        background: #F1F1F1;
        color: #24292E;
    }
    
    .contact-form{
        width: 55%;
    }
    
    .contact-form input[type="text"], .contact-form textarea{
        background: #252627;
        width: 100%;
        padding: 15px 0px 15px 15px;
        color: #F1F1F1;
        border: .5px solid #90959999;
        margin-top: 5px;
        margin-bottom: 5px;
        font-family: "Muli";
        font-size: 16px;
        box-sizing: border-box;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    
    .contact-form input[type="text"]:focus, .contact-form textarea:focus{
/*        box-shadow: inset 0px 1px 5px #909599;*/
        border-color: #cacaca;
        outline: 0;
    }
    
    .contact-form textarea{
        resize: none;
    }
    
    ::placeholder {
        color: #909599;
        font-size: 16px;
    }
    
    .submit{
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    
    .contact-form input[type="submit"]{
        padding: 20px;
        width: 25%;
        background: #252627;
        border: .5px solid #90959999;
        font-size: 16px;
        font-weight: 700;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }
    
    .contact-form input[type="submit"]:hover{
        background: #F1F1F1;
        color: #252627;
        border-color: #cacaca;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }
}