/* Versión escritorio */

@media(min-width:720px){
    
    .mobile{
        display: none;
    }
    
    .menu{
        height: 100vh;
        background: #131313;
        width: 50px;
        position: fixed;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .logo{
        text-align: center;
        margin-top: 20px;
    }
    
    .logo-a{
        text-decoration: none;
        color: #525659;
        font-weight: 600;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
        font-family: "Elemental End";
    }    
    
    .menu-icons{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .menu-icons-div{
        color: #525659;
        height: 5vh;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }
    
    .social{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .social-a{
        text-decoration: none;
        color: #525659;
        height: 4vh;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }
    
    .active{
        opacity: 1;
        color: #fff;
    }
    
    .logo-a:hover, .menu-icons-div:hover, .social-a:hover{
        color: #fff;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }
    
    .banner{
        width: calc(100% - 50px);
        margin-left: 50px;
        height: 100vh;
        display: flex;
        align-items: center;
    }
    
    .container{
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
    
    .display{
        text-align: center;
        font-family: "Roboto";
    }
    
    .display h3{        
        color: #525659;
        font-weight: 700;
        font-size: 40px;
    }
    
    .display .name{      
        color: #131313;
        font-size: 80px;
        font-family: "Elemental End";
    }
    
    .subtitle{
        margin-top: 5px;
        font-weight: 600;
        color: #525659;
        font-size: 18px;
        font-family: "Open Sans";
    }
        
    .thanks-to{
        position: absolute;
        bottom: 0;
        right: 0;
        text-align: center;
        font-family: "Open Sans";
        font-size: 14px;
    }
    
    .thanks-to p{
        color: #525659;
    }
    
    .thanks-to-a{
        text-decoration: none;
        color: #525659;
    }
}
