/* Versión escritorio */

@media(min-width:720px){
    
    /* Menu */
    
    .menu{
        height: 100vh;
/*        background: #131313;*/
/*        background: #e6e6e6;*/
        width: 75px;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-shadow: 5px 0px 25px #25262733;
        opacity: 1;
    }
    
    .logo{
        text-align: center;
        margin-top: 10px;
    }
    
    .logo-a{
        text-decoration: none;
        color: #525659;
        font-weight: 600;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
        font-family: "Elemental End";
    }    
    
    .menu-icons{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .menu-icons-div{
        color: #909599;
        color: #bbbbbb;
        padding-top: 30px;
        padding-bottom: 30px;
        font-size: 20px;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
/*
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke-width: 2px;
*/
/*        -webkit-text-stroke-color: white;*/
    }
    
    
    .active{
        opacity: 1;
        color: #fff;
        color: #252627;
/*
        -webkit-text-fill-color: #fff;
        -webkit-text-stroke-width: 0px;
*/
    }
    
    .logo-a:hover, .menu-icons-div:hover, .social-a:hover{
        color: #fff;
        -moz-transition: all ease .5s;
        -ms-transition: all ease .5s;
        -webkit-transition: all ease .5s;
        -o-transition: all ease .5s;
        transition: all ease .5s;
    }
}