/* Desktop Version */
@media(min-width:720px){
    
    /* Portfolio */
    
    .portfolio-start{
        background: #252627;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    
    .display-portfolio{
        text-align: left;
    }
    
    .portfolio{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .portfolio-div{
        width: 100%;
        margin-top: 5%;
        font-family: "Open Sans";
        display: flex;
    }
    
    .portfolio-img{
        width: 80%;
        height: 260px;
        overflow: hidden;
    }
    
    .portfolio-img img{
        width: 100%;
        border-radius: 5px;
    }
    
    .portfolio-div-desc{
        margin-left: 5%;
        width: 100%;
    }
    
    .portfolio-tittle h3{
/*        color: #131313;*/
        font-size: 30px;
        padding-top: 0px;
        font-weight: 600;
        font-family: "Muli";
    }
    
    .portfolio-subtittle h4{
        font-size: 22px;
        font-weight: 600;
        font-family: "Muli";
    }
    
    .portfolio-subtittle i{
        color: #909599;
        font-size: 20px;
        font-weight: 600;
        font-family: "Roboto";
        font-family: "Muli";
        
    }
    
    .portfolio-subtittle h5{
        color: #909599;
        font-size: 17px;
        font-weight: 400;
        margin-top: 5px;
        font-family: "Muli";
    }
    
    .portfolio-desc{
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
        font-family: "Muli";
        
    }
    
    .portfolio-desc p{
        color: #909599;
    }
    
    .hidden { opacity: 0; }
        
    
}