/* Desktop Version */
@media(min-width:720px){
    
    /* Portfolio */
    
    .portfolio-start{
        padding-top: 100px;
        padding-bottom: 80px;
        background: #F1F1F1;
    }
    
    .portfolio-start h3, .portfolio-tittle h3, .portfolio-desc p, .portfolio-subtittle h4, .portfolio-subtittle i, .portfolio-subtittle h5{
        color: #252627;
    }
    
    .display-portfolio{
        text-align: left;
    }
    
    .portfolio{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
    .portfolio-div{
        width: 100%;
        margin-top: 5%;
        display: flex;
    }
    
    .portfolio-img{
        width: 45%;
        height: 260px;
        overflow: hidden;        
        border-radius: 5px;
    }
    
    .portfolio-img img{
        width: 100%;
    }
    
    .portfolio-div-desc{
        margin-left: 30px;
        width: 55%;
    }
    
    .portfolio-tittle h3{
        font-size: 30px;
        font-weight: 600;
        font-family: "Muli";
    }
    
    .portfolio-subtittle h4{
        font-size: 22px;
        font-weight: 600;
        font-family: "Muli";
    }
    
    .portfolio-subtittle i{
        font-size: 20px;
        font-weight: 600;
        font-family: "Roboto";
        font-family: "Muli";
        
    }
    
    .portfolio-subtittle h5{
        font-size: 17px;
        font-weight: 400;
        margin-top: 5px;
        font-family: "Muli";
    }
    
    .portfolio-desc{
        font-size: 16px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-top: 5px;
        font-family: "Muli";
        
    }    
    
    .hidden { opacity: 0; }
        
    
}