/* Desktop Version */
@media(min-width:720px){
    
    /* About Me */
    .skills-start{
        padding-top: 100px;
        padding-bottom: 80px;
        background: #252627;
    }
    
    .skills{
        margin-top: 80px;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }
    
    .skill{
/*        background: white;*/
        display: relative;
        padding: 30px 20px;
        width: 20%;
        max-width: 20%;
        border: .5px solid #90959999;
    }
    
    .skill-ico{
        padding-top: 20px;
        font-size: 50px;
    }
    
    .skill-ico div{
        color: #f1f1f1;
    }
    
    .skill h3, .skill p{
/*        display: none;*/
        color: #f1f1f1;
        font-family: "Muli";
    }
    
    .skill h3{
        padding-top: 20px;
        font-size: 22px;
    }
    
    .skill p{
/*        display: none;*/
        padding-top: 20px;
        font-size: 16px;
        line-height: 25px;
        text-align: center;
    }
    
    .skill:hover{
        border-color: #cacaca;
    }
}