@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300&subset=latin,latin-ext);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Muli:200,300,400,500,600,700,800,900&display=swap);

@font-face{
    font-family: "Elemental End";
    src: url("../fonts/Elemental End/Elemental End.ttf");
}

html{
    min-height: 100%;
    position: relative;
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    color: #fff;
}

@media(min-width:0px){
    body {
        background: url("../img/fondo.jpg") no-repeat 50% 0% fixed;
        width: 100%;        
    }
}

@media(min-width:720px){
    body {
        background: url("../img/fondo.jpg") no-repeat fixed;
        width: 100%;
        background-size:cover;
    }
}

.delay-1{
    animation-delay: .2s;
}

.delay-2{
    animation-delay: .4s;
}

.delay-3{
    animation-delay: .6s;
}

.delay-4{
    animation-delay: .8s;
}

.delay-5{
    animation-delay: 1s;
}

.delay-6{
    animation-delay: 1.2s;
}
