<!DOCTYPE HTML>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gisella Alaniz</title>
    
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/movil.css">
    <link rel="stylesheet" href="../css/portfolio.css">
    
    <!-- Fuentes -->
    <link rel="stylesheet" href="#">
    
    <!-- Iconos -->
    <link rel="stylesheet" href="../icons/styles.css">
    
    <!-- Script -->
    <script src="https://kit.fontawesome.com/bb28c29ded.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <!-- Particles.js -->
    <div id="particles-js"></div>
    
    <!-- Header -->
    <div class="header">        
       
        <!-- Versión móvil -->
        <div class="movil">
            <div class="menu">
                <div class="container">
                    <div class="menu-js">
                        <a href="../index.html" class="fas fa-home menu-js-a"></a> <!--index-->
                        <a href="portfolio.html" class="fas fa-briefcase menu-js-a  active"></a> <!--proyects-->
                        <a href="contact.html" class="fas fa-envelope menu-js-a"></a> <!--contact-->  
                        <a href="about.html" class="menu-js-a">GA</a> <!--about me-->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="display-movil">
                    <h3 class="thin">Hola, <br> soy Gisella,</h3>
                    <h3>Web Developer.</h3>
                    <h6 class="subtitle">HTML5 / CSS3 / PHP + MySQL</h6>
                </div>
                <div class="button-movil">
                    <a href="#" class="button-movil-a">PROYECTOS</a>
                    <a href="#" class="button-movil-a">SOBRE MÍ</a>
                </div>
            </div>  
            <div class="footer-movil">
                <div class="container">
                    <div class="social">
                        <a href="https://www.facebook.com/yizhel.alanniz" class="icon-facebook social-a"></a>
                        <a href="https://www.linkedin.com/in/gisella-daiana-alaniz-177b80163/" class="icon-linkedin social-a"></a>
                        <a href="http://api.whatsapp.com/send?phone=5492657567169" class="icon-whatsapp social-a"></a>
                    </div>
                    <div class="thanks-to">
                        <p>
                            Gracias a
                            <a class="thanks-to-a" href="https://www.freepik.es/fotos/textura">www.freepik.es</a>
                        </p>
                        <p>
                            Desarrollado por Gisella Alaniz
                        </p>
                    </div>
                </div>
            </div>            
        </div>
        <!-- Fin versión móvil -->
        
        <!-- Barra de navegación -->
        <!--<nav class="nav">
            <div class="container">
                <ul>
                    <li><a href="">INICIO</a></li>
                    <li><a href="">PROYECTOS</a></li>
                    <li><a href="">CONTACTO</a></li>
                </ul>
            </div>
        </nav>-->
        <!-- Fin Barra de navegación -->
        
    </div>  
    <!-- Fin Header -->
    
    <!-- Scripts -->    
    <script src="../js/particles.js"></script>    
    <script src="../js/particles.min.js"></script>
    <script src="../js/app.js"></script>
</body>
</html>